<div class="row mt-3">
    <div class="col-12">
        <h3 class="text-danger text-center">Доступ к текущему разделу запрещен. Для получения доступа попробуйте <a asp-controller="account" asp-action="Logout">выйти</a> и войти под другим пользоватлем</h3>
    </div>
</div>