@model List<OnlineCash.Models.GoodWithGoodBalanceModel>
    @{
    Layout = null;
    }
    <!DOCTYPE html>
    <html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style>
            .prices {
                display: grid;
                font-size: 7pt;
                grid-template-columns: repeat(3, 1fr);
                width: 100%
            }

            .price {
                border: 1px dotted lightgray;
                padding: 2mm;
                page-break-inside: avoid;
            }

            h5 {
                font-size: 10pt;
                margin: 1mm;
                padding: 0;
            }

            img {
                display: block;
            }
        </style>
    </head>
    <body>
        <div class="prices">
            @foreach (var goodWithBalance in Model)
            foreach (var price in goodWithBalance.Good.GoodPrices)
            {
            <div class="price">
                <h5 style="display: block; float:left; min-height: 10mm">@goodWithBalance.Good.Name</h5>
                <div style="clear: both">&nbsp;</div>
                <div style="display: grid; grid-template-columns: repeat(2, 1fr)">
                    <barcode content="@goodWithBalance.Good.BarCodes.FirstOrDefault().Code" width="140" height="10" margin="0" barcodeformat="CODE_128" outputformat="PNG" />
                </div>
            </div>
            }
        </div>
        <script>
        window.print();
        </script>
    </body>
</html>
