@model List<OnlineCash.DataBaseModels.Good>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        h5{
            font-size:12pt;
            margin: 1mm;
            padding:0;
        }
        img{
            display: block;
        }
    </style>
</head>
<body>
    <div style="display:grid; font-size: 7pt; grid-template-columns: repeat(3, 1fr); width:100%">
        @foreach (var good in Model)
            foreach (var price in good.GoodPrices)
            {
        <div style="border: 1px dotted lightgray; padding: 2mm;">
            <h5 style="display: block; float:left; min-height: 15mm">@good.Name</h5>
            <div style="clear: both">&nbsp;</div>
            <div style="display: grid; grid-template-columns: repeat(2, 1fr)">
                <h5>@price.Price р.</h5>
                <barcode content="@good.BarCode" width="140" height="20" margin="0" barcodeformat="CODE_128" outputformat="PNG" />
            </div>
        </div>
            }
    </div>
    <script>
        window.print();
    </script>
</body>
</html>